@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.button{
    
    background: #2500f9;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 32px;
    display: inline-block;   
    text-decoration: none;
}

body{
    font-family:  'Poppins', sans-serif;

}

.header{
background:lightgray;
height: 150px;
}

.wrap{
    width: 1170px;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #242f51;
}
.logo__orange{
    color: #fcae61;
}

.header__wrap{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

}

.menu__link{
    text-decoration: none;
    color: #242f51;
    font-size: 16px;
}

.menu__item{
    margin-left: 35px;

}

.body{
    margin:0;
    
}
.menu__button{
    color: #fff;
    margin-left: 55px;
}
.welcome__wrap{
    display: flex;
    align-items: center;
}
.welcome__info{
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.awards{
    background: #616368;
    display: flex;
    align-items: center;

}
.awards__icon{
    display: inline-block;
    background: #feaa25;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

}
/*
        




    */